<% if current_user %>
  <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
  <%= button_to "Create New User", register_path, method: :get %>
  <%= link_to "Login", login_path, method: :get %>
<% end %>
<p>
<% if current_user %>
  <div id="user-list-home">
    <h3>Current Users</h3>
    <% @users.each do |user| %>
      <div id="user-<%="#{user.id}"%>">
        <%= user.email %><br>
      </div>
    <% end %>
<% end %>
</div>